@font-face {
  font-family: Futura Round;
  font-weight: 400;
  src: local("Futura Round"), url("Futura Round.ttf");
}

@font-face {
  font-family: Futura Round;
  font-weight: 600;
  src: local("Futura Round Bold"), url("Futura Round Bold.ttf");
}

@page {
  background: #fed2d1;
  font-family: Futura Round;
  margin: 1.5cm 0 0.9cm;

  @bottom-center {
    background: #2a3283;
    color: white;
    content: "Retrouvez tout l’univers Skin sur www.skin-care.com";
    text-indent: 1.5cm;
    text-align: left;
    width: 100%;
  }
}

html::before,
html::after {
  background: white;
  content: "";
  height: 3.5mm;
  position: fixed;
  width: 3.5mm;
}

html::before {
  left: 0;
  top: -1.5cm;
}

html::after {
  bottom: -0.9cm;
  right: 0;
}

body {
  color: #2a3283;
  font-family: Futura Round;
  line-height: 1;
  margin: 0 3cm 0 4cm;
}

body::before,
body::after {
  bottom: 3rem;
  line-height: 0.95;
  position: fixed;
  right: -7rem;
  transform: rotate(-90deg);
  transform-origin: 0 100%;
}

body::before {
  content: "prendre soin de vous";
}

body::after {
  content: "Skin.";
  font-size: 5em;
  text-indent: -0.05em;
}

h1 {
  font-size: 2.5em;
  font-weight: 400;
  margin: 13rem 0 0;
}

#information {
  border-bottom: 0.8mm solid;
  margin: 0;
  padding-bottom: 1rem;
}

#information dt {
  display: none;
}

#information dd:first-of-type::before {
  content: "#";
}

#information dd:first-of-type::after {
  content: " − ";
}

#information dd {
  display: inline;
  margin: 0;
}

address {
  font-style: normal;
  left: 1.5cm;
  position: absolute;
  top: 0;
  white-space: pre-line;
}

address::before {
  content: "adressée à";
  display: block;
  font-weight: 600;
  margin-bottom: -1em;
}

#details {
  font-size: 1.2em;
  width: 100%;
}

#details th {
  display: none;
}

#details tr > *:not(:first-child) {
  text-align: right;
}

td {
  padding: 0.5rem 0;
}

#summary {
  margin: 2rem 0 0 auto;
}

#summary thead,
#summary tbody {
  display: inline-block;
}

#summary td,
#summary th {
  display: block;
  font-weight: 400;
  padding: 0.2rem 0;
  text-align: right;
}

#summary th:last-child {
  font-size: 2em;
  padding: 0;
  vertical-align: bottom;
}

#summary td:last-child {
  font-size: 1.2em;
  padding: 0.8rem 0 0.2rem 0.3rem;
}
