@font-face {
  font-family: Archivo;
  font-weight: 400;
  src: local("Archivo"), url("Archivo-Regular.ttf");
}

@font-face {
  font-family: Archivo;
  font-weight: 600;
  src: local("Archivo Bold"), url("Archivo-Bold.ttf");
}

@font-face {
  font-family: Paris Pro;
  font-weight: 400;
  src: local("Paris Pro"), url("ParisPro-Regular.otf");
}

@page {
  background: url("texture.svg"), 17.7cm -4.9cm / 2.2cm url("logo.svg") no-repeat #b2cbc5;
  margin: 6.5cm 0 4cm;
}

html {
  background: rgba(0, 0, 0, 0.0001);
}

html::before,
html::after {
  background: #f6a89b;
  content: "";
  position: absolute;
  width: 100%;
}

html::before {
  height: 7mm;
  top: -6.5cm;
}

html::after {
  height: 3.5mm;
  bottom: -4cm;
}

body {
  background: white;
  box-sizing: border-box;
  color: #afc6c0;
  font-family: Archivo;
  height: auto;
  margin: 0 0 0 29.9%;
  padding: 2.5rem;
  width: 70.1%;
}

body::after {
  color: white;
  content: "Merci pour votre confiance,\A retrouvez votre espace sur www-n-tea.fr";
  margin-top: 3.5rem;
  position: absolute;
  right: 2.5rem;
  text-align: right;
  white-space: pre-line;
}

h1,
address {
  background: white;
  box-sizing: border-box;
  color: #f6a89b;
  left: 0;
  position: absolute;
  width: 30%;
}

h1 {
  font-family: Paris Pro;
  font-size: 4rem;
  font-weight: 400;
  height: 5cm;
  line-height: 1.3;
  margin: 0;
  top: -3cm;
  padding: 4rem 1rem 0;
}

address {
  font-style: normal;
  font-weight: 400;
  height: 5cm;
  top: 1.99cm;
  padding: 1rem 1rem 4rem;
  white-space: pre-line;
}

h1::before, address::before {
  color: #afc6c0;
  display: block;
  font-size: 0.7rem;
  font-weight: 600;
}

h1::before {
  content: "Voici votre";
  font-family: Archivo;
  text-indent: 0.2rem;
}

address::before {
  content: "Adressée à";
}

#information dt {
  display: none;
}

#information dd:first-of-type::before {
  content: "Facture n°";
}

#information dd:first-of-type::after {
  content: " | ";
}

#information dd {
  display: inline;
  margin: 0;
}

table td {
  color: #8c9894;
}

#details {
  border-collapse: collapse;
  margin: 2em 0;
  text-align: right;
  width: 100%;
}

#details th {
  font-size: 0.6em;
  font-weight: 400;
}

#details td {
  border-bottom: #f6a89b 0.2mm solid;
  font-size: 0.85em;
  padding: 0.5em 0;
}

#details th:first-child,
#details td:first-child {
  text-align: left;
}

#summary {
  margin-left: auto;
}

#summary thead,
#summary tbody {
  display: inline-block;
}

#summary td,
#summary th {
  display: block;
  font-size: 0.6em;
  font-weight: 400;
  padding: 0.2rem 0;
  text-align: right;
}

#summary th:last-child,
#summary td:last-child {
  color: #f6a89b;
  font-size: 1.2em;
}

#summary td:last-child {
  border-bottom: 0.2mm solid #afc6c0;
  padding-left: 8rem;
}
