@font-face {
  font-family: Futura Round;
  font-weight: 400;
  src: local("Futura Round"), url("Futura Round.ttf");
}

@font-face {
  font-family: Futura Round;
  font-weight: 600;
  src: local("Futura Round Bold"), url("Futura Round Bold.ttf");
}

@font-face {
  font-family: Fredoka One;
  font-weight: 400;
  src: local("Fredoka One"), url("FredokaOne-Regular.ttf");
}

@page {
  margin: 1.5cm 0;

  @bottom-center {
    background: 101% / 5.5cm url("logo.svg") no-repeat #25b1a4;
    content: "";
    width: 100%;
  }
}

html::before {
  background: #25b1a4;
  box-sizing: border-box;
  color: white;
  content: "Bonjour.";
  display: block;
  font-size: 110pt;
  font-weight: 600;
  height: 7cm;
  line-height: 1.1;
  margin-top: -1.5cm;
  padding: 0 1.5cm;
  text-align: left;
  vertical-align: top;
}

body::before {
  color: white;
  content: "On a horreur de ça,\A mais nous devons vous demander de l’argent.";
  font-size: 20pt;
  font-weight: 600;
  opacity: 0.2;
  position: absolute;
  letter-spacing: -0.02em;
  left: 1.8cm;
  line-height: 1.05;
  top: 2.5cm;
  white-space: pre-line;
  width: 100%;
}

body::after {
  bottom: 0.5em;
  color: #25b1a4;
  content: "Merci pour votre confiance, Sloop vous embrasse, très fort.";
  font-size: 14pt;
  font-weight: 600;
  letter-spacing: -0.02em;
  position: absolute;
}

#information::before {
  color: white;
  content: "(En vrai, c’est pas grand chose pour toute l’application Sloop)";
  font-size: 14pt;
  font-weight: 600;
  position: absolute;
  letter-spacing: -0.02em;
  left: 1.8cm;
  line-height: 1.05;
  top: 4.2cm;
  width: 100%;
}

html {
  font-family: Futura Round;
}

body {
  padding: 0 1.5cm;
}

h1 {
  color: #25b1a4;
  font-size: 3em;
  margin: 0.8em 0 1.5em;
}

h1::before {
  content: "Voici donc votre";
  display: block;
  font-size: 0.55em;
  margin-top: -0.9em;
  opacity: 0.2;
  position: absolute;
}

#information dt {
  display: none;
}

#information dd {
  color: #25b1a4;
  margin: 0;
  position: absolute;
}

#information dd:first-of-type {
  font-size: 1.4em;
  font-weight: 600;
  left: 6.2cm;
  top: 7.2cm;
}

#information dd:first-of-type::before {
  content: "#";
}

#information dd:last-of-type {
  right: 1.5cm;
  top: 7.2cm;
}

address {
  font-style: normal;
  font-size: 1.15em;
  white-space: pre-line;
}

address::before {
  color: #25b1a4;
  content: "Adressée à";
  font-weight: 600;
}

.description {
  color: #25b1a4;
  margin: 2em 33% 2em 0;
  text-align: justify;
}

table {
  border-collapse: collapse;
}

#details {
  text-align: right;
  width: 100%;
}

#details th:first-child,
#details td:first-child {
  text-align: left;
}

#details th {
  font-weight: 400;
  padding: 0.5em 0;
}

#details tr {
  border-bottom: 0.3mm solid;
}

#details td {
  padding: 1em 0;
}

#details td:first-child {
  font-weight: 600;
  text-transform: uppercase;
}

#summary {
  text-align: center;
  margin: 2em 0 0 auto;
}

#summary th {
  font-weight: 400;
  text-transform: uppercase;
}

#summary td {
  border-bottom: 0.3mm solid;
  padding: 0.3em 1em;
}

#summary th:last-child {
  text-align: right
}

#summary td:last-child {
  font-size: 1.5em;
  padding: 0 0 0.2em 0.5em;
}
