@font-face {
  font-family: JMH Typewriter;
  font-weight: 400;
  src: local("JMH Typewriter"), url("JMH Typewriter.ttf");
}

@font-face {
  font-family: JMH Typewriter;
  font-weight: 600;
  src: local("JMH Typewriter Bold"), url("JMH Typewriter-Bold.ttf");
}

@font-face {
  font-family: JMH Typewriter;
  font-weight: 800;
  src: local("JMH Typewriter Black"), url("JMH Typewriter-Black.ttf");
}

@page {
  font-family: JMH Typewriter;
  font-size: 0.65em;
  font-weight: 600;

  @bottom-center {
    border-top: 1px solid;
    content: "NAE vous accompagne dans la conception de vos bonzaïs, par les produits, les outils, et même les formations.\A Plus d’informations sur www.nae-trees.com.";
    padding-top: 1em;
    vertical-align: top;
    white-space: pre-line;
  }
}

body {
  background: url(logo.svg) top right / 1.5cm no-repeat;
  font-family: JMH Typewriter;
  line-height: 1;
  margin: 0;
}

body::after {
  content: url(tampon.svg);
  display: block;
  margin-top: -0.5rem;
  position: absolute;
  right: 0;
  width: 3cm;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  position: absolute;
  top: 10rem;
}

#information {
  font-size: 0.8em;
  margin: 13rem 0 0;
}

#information * {
  display: inline;
  margin: 0;
}

#information dt::after {
  content: " : ";
}

#information dd::after {
  content: "\A";
  white-space: pre-line;
}

.description {
  font-size: 0.8em;
}

address {
  font-style: normal;
  position: absolute;
  top: 0;
  white-space: pre-line;
}

address::before {
  content: "Pour";
  display: block;
}

table {
  border-collapse: collapse;
  font-weight: 600;
}

td {
  border: 2px solid;
  font-size: 0.8em;
  padding: 0.6rem 0.4rem 0.4rem;
}

th {
  font-size: 0.6em;
  font-weight: 800;
  text-transform: lowercase;
  padding: 0.1rem 0.4rem;
}

#details {
  margin-top: 3rem;
  width: 100%;
}

#details th::after {
  background: 0.3rem / auto 1.2rem no-repeat url("table.svg");
  border-style: solid;
  border-width: 2px 2px 0 2px;
  content: "";
  display: block;
  height: 1.2rem;
  margin: 0.1rem -0.45rem -0.1rem -0.45rem;
}

#details td:nth-child(3),
#details td:nth-child(4) {
  text-align: center;
}

#summary {
  background: black;
  color: white;
  font-size: 1.2em;
  margin: 1rem 0 0 auto;
}

#summary td,
#summary th {
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
}
