@font-face {
    font-family: ArchivoBlack;
    src: url(ArchivoBlack-Regular.ttf);
}

@page {
    margin: 1cm;
    size: 1050px 1465px;
}

html {
    background: url(gaming-affiche-bg.jpg);
    background-size: cover;
    font-family: ArchivoBlack;
    color: white;
    text-transform: uppercase;
}

#logo {
    left: 1.8cm;
    position: absolute;
    top: 2cm;
    width: 87%;
    z-index: -1;
}

#top-line {
    font-size: 2.9em;
    margin-top: 0.6cm;
}

#main-title {
    font-size: 2.5em;
    margin-top: 20cm;
}
#main-title p {
    background-color: black;
    display: inline;
    padding: 0.35cm;
}
#main-title p:last-of-type {
    margin-left: 0.3cm;
}

#description {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    margin-left: 1cm;
    margin-top: 2cm;
    margin-bottom: 0.2cm;
}

#date {
    border: 4px solid white;
    margin-top: 0;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}
#date article {
    display: inline-block;
    margin-left: 1cm;
}
#date article p {
    margin: 0;
}
#date article:first-child > p:first-child {
    font-size: 4.4em;
}
#date article:first-child > p:last-of-type {
    font-size: 7em;
}
#date article:last-of-type > p:first-child {
    font-size: 3.2em;
}
#date article:last-of-type > p:last-of-type {
    font-size: 8em;
}

#sponsors{
    margin-top: 1.2cm;
}
#sponsors ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
#sponsors li {
    margin: 0 1em;
}
#sponsors img {
    max-height: 60px;
    max-width: 150px;
}

#address {
    font-weight: lighter;
    letter-spacing: 0.15rem;
    margin-left: 0.8cm;
    text-transform: none;
}
