@font-face {
    font-family: ArchivoBlack;
    src: url(ArchivoBlack-Regular.ttf);
}

@page {
    margin: 0.3cm;
    size: 10cm 14cm;
}

html {
    background: url(gaming-affiche-bg.jpg);
    background-size: cover;
    font-family: ArchivoBlack;
    color: white;
    text-transform: uppercase;
}

#logo {
    left: 2.1cm;
    position: absolute;
    top: 0.7cm;
    width: 55%;
    z-index: -1;
}

#top-line {
    font-size: 1em;
    margin-top: 0.2cm;
    margin-left: 0.1cm;
}

#main-title {
    font-size: 0.86em;
    margin-left: -0.1cm;
    margin-top: 5cm;
}
#main-title p {
    background-color: black;
    display: inline;
    padding: 0.25cm;
}
#main-title p:last-of-type {
    margin-right: -0.2cm;
}

#description {
    display: none;
}

#date {
    border: 4px solid white;
    margin-top: 0.7cm;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}
#date article {
    display: inline-block;
    margin-left: 0.8cm;
}
#date article p {
    margin: 0;
}
#date article:first-child > p:first-child {
    font-size: 1.2em;
}
#date article:first-child > p:last-of-type {
    font-size: 2em;
}
#date article:last-of-type > p:first-child {
    font-size: 0.9em;
}
#date article:last-of-type > p:last-of-type {
    font-size: 2.3em;
}

#sponsors ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}
#sponsors li {
    margin: 0 1em;
}
#sponsors img {
    max-height: 40px;
    max-width: 100px;
}

#address {
    font-size: 0.6em;
    letter-spacing: 0.15rem;
    text-align: center;
    text-transform: none;
}
