@font-face {
    font-family: KGSecondChance;
    src: url(KGSECONDCHANCESSOLID.TTF);
}

@page {
    margin: 0cm;
    size: 1000px 1415px;
}

html {
    background: url(taille-crayon-affiche-bg.jpg);
    background-size: cover;
    font-family: KGSecondChance;
    margin: 0;
    text-transform: uppercase;
}

#address {
    color: #973e42;
    font-size: 4.9em;
    margin-bottom: 0;
    margin-left: 0.8cm;
    margin-top: 0.6cm;
}

#date {
    color: #3b3865;
    font-size: 3.3em;
    margin-left: 0.8cm;
    margin-top: 0;
}

#sponsors{
    margin-top: 28cm;
}
#sponsors ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
#sponsors li {
    padding: 0 1em;
}
#sponsors img {
    max-height: 60px;
    max-width: 150px;
}

#bottom-address {
    color: white;
    letter-spacing: 0.15rem;
    margin-left: 1cm;
    margin-top: 1cm;
    text-transform: none;
}
