@font-face {
    font-family: KGSecondChance;
    src: url(KGSECONDCHANCESSOLID.TTF);
}

@page {
    margin: 0cm;
    size: 10cm 14cm;
}

html {
    background: url(taille-crayon-affiche-bg.jpg);
    background-size: cover;
    font-family: KGSecondChance;
    margin: 0;
    text-transform: uppercase;
}

#address {
    color: #973e42;
    font-size: 1.9em;
    margin-left: 0.1cm;
    margin-top: 0.6cm;
}

#date {
    background: #fff6;
    color: #3b3865;
    margin-top: 4cm;
    padding: 0 0.2em;
    float: right;
}

#sponsors{
    margin-top: 10.2cm;
}
#sponsors ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}
#sponsors li {
    padding: 0 0.5em;
}
#sponsors img {
    max-height: 30px;
    max-width: 75px;
}

#bottom-address {
    color: white;
    font-size: 0.5em;
    letter-spacing: 0.15rem;
    margin-top: -0.2cm;
    text-align: center;
    text-transform: none;
}
