@font-face {
  font-family: Cantarell;
  font-weight: 300;
  src: local("Cantarell-Light"), local("Cantarell Light"), local("Cantarell"), url(https://www.stella.coop/static/fonts/Cantarell-Light.woff2);
}

@font-face {
  font-family: Cantarell;
  font-weight: 400;
  src: local("Cantarell-Regular"), local("Cantarell Regular"), local("Cantarell"), url(https://www.stella.coop/static/fonts/Cantarell-Regular.woff2);
}

@font-face {
  font-family: Cantarell;
  font-weight: 600;
  src: local("Cantarell-Bold"), local("Cantarell Bold"), local("Cantarell"), url(https://www.stella.coop/static/fonts/Cantarell-Bold.woff2);
}

@page {
  color: #f76262;
  font-family: Cantarell;
  font-size: 0.8em;
  font-variant-numeric: oldstyle-nums;

  @bottom-left {
    content: 'Stella | Siret : 429 851 637 00034';
  }

  @bottom-right {
    content: '04 72 81 96 01 | contact@stella.coop';
  }
}

body {
  color: #222;
  font-family: Cantarell;
  font-variant-numeric: oldstyle-nums;
  line-height: 1.4;
  margin: 0;
}

h1 {
  color: #f76262;
  font-size: 4em;
  letter-spacing: -0.03em;
  margin: 0 0 0 -0.06em;
}

#information {
  margin: 3em 0;
}

#information * {
  display: inline;
  margin: 0;
}

#information dt {
  color: grey;
}

#information dt::after {
  content: ' : ';
}

#information dd::after {
  content: '\A';
  white-space: pre-line;
}

address {
  font-style: normal;
  margin: 0 0 5em 60%;
  white-space: pre-line;
}

address::before {
  color: grey;
  content: '\A Stella\A Elycoop − Pôle Pixel\A 26 rue Émile Decorps\A 69100 Villeurbanne';
  display: block;
  left: 0;
  position: absolute;
  width: 60%;
}

.description {
  margin: 3em 0;
  text-align: justify;
}

table {
  border-collapse: collapse;
  font-variant-numeric: tabular-nums;
  margin: 3em 0;
}

thead {
  border-bottom: 0.1mm solid;
}

th {
  color: grey;
  font-weight: normal;
}

tr > * {
  padding: 0.5em 0;
}

#details {
  width: 100%;
}

#details tr > *:not(:first-child) {
  text-align: right;
}

#summary {
  margin: 0 5% 0 auto;
  text-align: center;
  width: 50%;
}
